/*
//////////////////////////
///////////CORE///////////
//////////////////////////
*/

.child-dividers-y> :not(:first-child) {
  border-top: 1px solid #DDD;
}

.child-dividers-x> :not(:first-child) {
  border-left: 1px solid #DDD;
}

.child-dividers-dark> :not(:first-child) {
  border-color: #666 !important;
}

* {
  box-sizing: border-box;
}

body, .root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  visibility: hidden
}

/*
//////////////////////////
/////////POSITION/////////
//////////////////////////
*/

.inline {
  display: inline-block;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.inline-bottom {
  display: inline-block;
  vertical-align: bottom;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*
////////////////////////////
/////////DIMENSIONS/////////
////////////////////////////
*/

.auto-width {
  width: auto;
}

.auto-height {
  height: auto;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.fill {
  height: 100%;
  width: 100%;
}

.fill-screen {
  height: 100vh;
  width: 100vw;
}

/*
/////////////////////////////
///////////FLEXBOX///////////
/////////////////////////////
*/

.flex {
  display: flex;
}

.flex-none {
  display: flex;
  flex: none;
}

.inline-flex {
  display: inline-flex;
}

.flex-animated * {
  display: flex;
  flex: 1 0 auto;
  transition: flex 250ms linear !important;
}

.flex-justify {
  display: flex;
  justify-content: space-between;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-distribute {
  display: flex;
  justify-content: space-around;
}

.justify-space-around {
  display: flex;
  justify-content: space-around;
}

.justify-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.flex-horizontal {
  display: flex;
  justify-content: center;
}

.flex-vertical {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-middle {
  display: flex;
  align-items: center;
  align-content: center;
}

.flex-top {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-basis-0 {
  display: flex;
  flex-basis: 0;
}

.flex-center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-self-start {
  align-self: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.align-top, .align-top>* {
  vertical-align: top;
  display: inline-block;
}

.align-middle, .align-middle>* {
  vertical-align: middle;
  display: inline-block;
}

.align-bottom, .align-bottom>* {
  vertical-align: bottom;
  display: inline-block;
}

.align-stretch {
  align-items: stretch;
  align-content: stretch;
}

/*
////////////////////////////
///////////SCROLL///////////
////////////////////////////
*/

.overflow-hidden {
  overflow: hidden;
}

.scroll-x {
  overflow-x: auto;
  will-change: transform;
}

.scroll-y {
  overflow-y: auto;
  will-change: transform;
}



.scroll-y.left-scroll {
  direction: rtl;
}

.scroll-y.left-scroll * {
  direction: ltr;
}

/*
////////////////////////////
/////////BACKGROUND/////////
////////////////////////////
*/

.fade-background {
  -webkit-transition: background-color 1s 1000ms linear;
  -moz-transition: background-color 1s 1000ms linear;
  -ms-transition: background-color 1s 1000ms linear;
  -o-transition: background-color 1s 1000ms linear;
  transition: background-color 1s 1000ms linear;
}

.background-0 {
  background-color: #000;
}

.background-2 {
  background-color: #222;
}

.background-4 {
  background-color: #444;
}

.background-6 {
  background-color: #666;
}

.background-8 {
  background-color: #888;
}

.background-a {
  background-color: #aaa;
}

.background-b {
  background-color: #bbb;
}

.background-c {
  background-color: #ccc;
}

.background-d {
  background-color: #ddd;
}

.background-e {
  background-color: #eee;
}

.background-f {
  background-color: #fff;
}

.background-dim {
  background-color: rgba(0, 0, 0, 0);
}

.background-bright {
  background-color: rgba(250, 250, 250, 0.5);
}

.background-none {
  background: none;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

/*
/////////////////////////////
////////////COLOR////////////
/////////////////////////////
*/

.color-0 {
  color: #000;
}

.color-2 {
  color: #222;
}

.color-4 {
  color: #444;
}

.color-6 {
  color: #666;
}

.color-8 {
  color: #888;
}

.color-a {
  color: #aaa;
}

.color-b {
  color: #bbb;
}

.color-c {
  color: #ccc;
}

.color-d {
  color: #ddd;
}

.color-e {
  color: #eee;
}

.color-f {
  color: #fff;
}

/*
//////////////////////////
/////////Hover Coloring//////////
//////////////////////////
*/

.hover-color-d:hover {
  background-color: #ddd;
}

.hover-color-e:hover {
  background-color: #eee;
}

/*
//////////////////////////
/////////PADDING//////////
//////////////////////////
*/

.padded-tile-container {
  padding-bottom: 3px;
  padding-right: 3px;
}

.padded-tile {
  padding-top: 3px;
  padding-left: 3px;
}

.padded-xs {
  padding: 1px;
}

.padded-sm {
  padding: 2px;
}

.padded {
  padding: 3px;
}

.padded-md {
  padding: 6px;
}

.padded-lg {
  padding: 20px;
}

.padded-xl {
  padding: 40px;
}

.padded-vertical {
  padding: 0 3px 0 3px;
}

.padded-horizontal {
  padding: 3px 0 3px 0;
}

.padded-vertical-lg {
  padding: 0 40px 0 40px;
}

.padded-horizontal-lg {
  padding: 40px 0 40px 0;
}

.margin {
  margin: 3px;
}

.margin-sm {
  margin: 6px;
}

.margin-input {
  margin: 15px;
}

.margin-md {
  margin: 20px;
}

.margin-lg {
  margin: 40px;
}

.padded-not-top {
  padding: 0 3px 3px 3px;
}

.padded-not-right {
  padding: 3px 0 3px 3px;
}

.padded-not-bottom {
  padding: 3px 3px 0 3px;
}

.padded-not-left {
  padding: 3px 3px 3px 0;
}

.padded-bottom {
  padding-bottom: 3px;
}

.padded-top {
  padding-top: 3px;
}

.padded-right {
  padding-right: 3px;
}

.padded-left {
  padding-left: 3px;
}

.padding-none {
  padding: 0px;
}

/*
///////////////////////////
//////////BORDER///////////
///////////////////////////
*/

.round {
  border-radius: 15px;
}

.border-0 {
  border-color: #000 !important;
}

.border-2 {
  border-color: #222 !important;
}

.border-4 {
  border-color: #444 !important;
}

.border-6 {
  border-color: #666 !important;
}

.border-8 {
  border-color: #888 !important;
}

.border-a {
  border-color: #aaa !important;
}

.border-b {
  border-color: #bbb !important;
}

.border-c {
  border-color: #ccc !important;
}

.border-d {
  border-color: #ddd !important;
}

.border-e {
  border-color: #eee !important;
}

.border-f {
  border-color: #fff !important;
}

.border-dashed {
  border-style: dashed !important;
}

.border-dotted {
  border-style: dotted !important;
}

.border-1px {
  border-width: 1px !important;
}

.border {
  border: 3px solid;
}

.border-tile-container {
  border-left: 0 !important;
  border-top: 0 !important;
}

.border-tile {
  border-bottom: 0 !important;
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 3px solid;
}

.border-top {
  border-top: 3px solid;
}

.border-left {
  border-left: 3px solid;
}

.border-right {
  border-right: 3px solid;
}

/*
//////////////////////////
////////ALIGNMENT/////////
//////////////////////////
*/

.center-text {
  text-align: center;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/*
///////////////////////////
///////////TEXT////////////
///////////////////////////
*/

.inherit-font-size {
  font-size: inherit;
  line-height: inherit;
}

.font-xs {
  font-size: 9pt;
}

.font-sm {
  font-size: 11pt;
  line-height: 1.4;
}

.font-rg {
  font-size: 12pt;
}

.font-md {
  font-size: 14pt;
}

.font-lg {
  font-size: 18pt;
}

.font-xl {
  font-size: 22pt;
}

.no-wrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.header {
  font-weight: bold;
  font-size: 18px;
}

/*
///////////////////////////
//////////Pointer//////////
///////////////////////////
*/

.pointer:hover {
  cursor: pointer;
}

.col-resize:hover {
  cursor: col-resize
}

.no-click {
  pointer-events: none !important;
}

.disable-pointer-events * {
  pointer-events: none !important;
}

.enable-pointer-events * {
  pointer-events: auto !important;
}

.image-background-contain {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

/*
///////////////////////////
///////////Rotate//////////
///////////////////////////
*/

.ccw90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.cw90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}